@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 15px;
}

body {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
  background: var(--Very-light-gray);
  --font-700: 'Big Shoulders Display', cursive;
  --font-400: 'Lexend Deca', sans-serif;
  font-family: var(--font-400);
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  border-radius: .5rem;
  overflow: hidden;
  color: var(--Very-light-gray);
}

.card-container__card {
  padding: 3rem 2rem;
  min-height: 400px;
  width: 100%;
  max-width: 300px;
  color: var(--Very-light-gray);
}

.card-container__card:first-child {
  background: var(--bright-orange);
}

.card-container__card:nth-child(2) {
  background: var(--dark-cyan);
}

.card-container__card:last-child {
  background: var(--very-dark-cyan);
}

h2 {
  font-family: var(--font-700);
  margin-bottom: 2rem;
  font-size: 2rem;
}

img {
  display: block;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 5rem;
  font-size: 15px;
  line-height: 1.3rem;
  color: var(--transparent-white);
}

a {
  text-decoration: none;
  background: var(--Very-light-gray);
  padding: .7rem 1.5rem;
  border-radius: 40px;
  border: 2px solid var(--Very-light-gray);
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.card1 a {
  color: var(--bright-orange);
}

.card2 a {
  color: var(--dark-cyan);
}

.card3 a {
  color: var(--very-dark-cyan);
}

a:hover, a:focus {
  background: none;
  color: var(--Very-light-gray);
}

footer {
  width: 100vw;
  min-height: 4rem;
  background: black;
  color: var(--transparent-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  padding: 0;
  border: none;
  background: none;
  margin: 0 1ch;
}

@media screen and (max-width: 800px) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */