@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 15px;
}
body{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    background: var(--Very-light-gray);
    --font-700: 'Big Shoulders Display', cursive;
    --font-400: 'Lexend Deca', sans-serif;
    font-family: var(--font-400);
    color:var(--Very-light-gray);
}
a{
    text-decoration: none;
}
.section{
    width:100vw;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
}
.card-container{
    border-radius: .5rem;
    overflow: hidden;
    &__card{
        width:300px;
        min-height:300px;
        padding:2.5rem;
        img{
            margin-bottom: 2rem;
        }
        h2{
            font-family: var(--font-700);
            text-transform: uppercase;
            font-size: 2.5rem;
            margin-bottom:2rem;
        }
        p{
            color:var(--transparent-white);
        }
    }
   &__button{
            background: var(--Very-light-gray);
            font-family: var(--font-400);
            padding:.7rem 1.5rem;
            display: inline-block;
            border-radius: 50px;
            margin-top: 2rem;
            border:2px solid var(--Very-light-gray);
            transition-property: background,color;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            &:hover,&:focus{
                background:transparent;
                color:var(--Very-light-gray);
            }
        }
    


}
.card1{
    background:var(--bright-orange);
    a{
        color:var(--bright-orange);
    }
}
.card2{
    background: var(--dark-cyan);
    a{
        color:var(--dark-cyan);
    }
}
.card3{
    background: var(--very-dark-cyan);
    a{
        color:var(--very-dark-cyan);
    }
}
footer{
    width:100vw;
    min-height: 3rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--very-dark-cyan);
  
    a{
        margin: 0rem .1rem;
        transition:opacity .3s ease-in-out;
    }
    a:hover,&:focus{
        opacity:.5;
    }
}

@media screen and (min-width:800px){
    .card-container{
        display: flex;
        &__card{
            width:300px;
            padding:3rem;
        }
        &__button{
            margin-top: 5rem;
        }
    }
    footer{
        flex-direction: row;
    }
}
